body {
  margin: 0;
  background: #000;
}

p {
  font-size: 15px;
  text-align: justify;
  font-weight: bold;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  background: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZjA1OGExYjJjYWY0MDQ3NDNmYWEzMmZmMmY4Yzc5MWY5ZGI5OGIxNCZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/B45tHHX4tOVO/giphy.gif) center/cover;
  -webkit-background-clip: text;
  background-clip: text;
  word-spacing: 0px;
  letter-spacing: -1px;
}
